h5.truncar-1l {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper {
  min-height: 100vh;
}

body {
  min-width: 320px;
}

.title_categorias {
  position: absolute;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 0 0 20px;
}